
.header h1 {
  background-color: maroon;
  padding: 3%;
  color: gold;
  display: flex;
  justify-content: center;
  align-items: center;

}

.events {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px; 
}

.line {
  flex: 2; 
  height: 2px; 
  background: linear-gradient(to right, gold, transparent); 
  margin: 20px;
}

.line.left {
  background: linear-gradient(to left, gold, transparent); 
  margin: 20px;
}

h2 {
  font-family: 'Georgia', serif; 
  font-size: 24px; 
  text-transform: uppercase; 
  letter-spacing: 2px; 
  font-weight: heavy; 
  color: #333; 
}

img {
  padding: 2%;
  background-color: blue;
  align-items: center;
  justify-content: center;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;

}

.mission h3 {
  display: flex;
  align-items: center;
  justify-content: center;

}

